nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  padding: 1rem;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  border-radius: 10px;
}

@media (min-width: 747px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.collectionDiv {
  position: fixed;
  top: 30%;
  left: 415px;
  border: 50px;
  min-width: calc(100vh - 100px - 100px);
  animation: show 0.5s ease-in-out;
}

.backgroundSide {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
}

.clear {
  color: white;
  margin-left: 300px;
  cursor: pointer;
}

.basket-delete {
  /* color: blue; */
  cursor: pointer;
}

.BIwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes show {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}
